.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


  .total {
    text-align:right;
  }

  #table {
    border:1px solid red;
    border-collapse:separate;
  }

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }

  #table th, #table td {
    border:1px solid #000;
  }

